div {
  background-color: lightcoral;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}

div p {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid orange;
}

p:nth-child(1) {
}

p:nth-child(2) {
}

p:nth-child(3) {
}

p:nth-child(4) {
}
